/* universal */

html {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
*, *:before, *:after {
 box-sizing: inherit;
}

body {
  font-size: 16px;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
}

p {
  line-height: 1.4rem;
}

h1,
h2,
h3,
button {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 0.2rem;
}

main {
  position: relative;
  top: 90px;
}

p,
h2 {
  color: lightGrey;
}

/* header */

header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: #fff;
  position: fixed;
  z-index: 1;
}

.brand-nav {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 0.5rem;
}

/* logo animation Roll in */

.logo {
  position: relative;
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@keyframes slide {
  0% {
    left: 0%;
  }
  100% {
    left: 80%;
  }
}

@keyframes rotateZ {
  from {
    transform: rotateZ(0deg);
    }
  to {
    transform: rotateZ(360deg);
    }
}

.logo img {
  animation-name: slide, rotateZ;
  animation-duration: 800ms;
  animation-timing-function: ease-in;
  animation-iteration-count: 4;
  animation-delay: 0.5s;
  animation-direction: alternate-reverse;
  position: absolute;
  transform: rotateZ(30);
}

/* Brand animation ROTATE */

.brand {
  position: relative;
  display: flex;
  align-items: center;
}

@keyframes rotation {
  from {
		transform: rotateY(0deg);
		}
	to {
		transform: rotateY(360deg);
		}
}

.brand span {
  position: absolute;
  animation-name: rotation;
  animation-duration: 3.3s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
  font-size: 1.5rem;
  margin-left: 1rem;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 0.2rem;
  font-size: 2rem;
}

/* Navigation */

.nav-mobile {
  display: none;
}

.nav-desktop a{
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 0;
  margin: 0 1rem;
  border-top: darkGrey solid 1px;
}

.nav-desktop a:hover {
  border-top: lightGrey solid 0.5px;
  padding-top: 0.2rem;
  color: lightGrey;
  transition: all 300ms linear;
}

/* Jumbotron */

.jumbotron {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.jumbotron img {
  max-width: 50%;
}

h1 {
  margin: 2rem;
  font-size: 2rem;
}

/* gallery first country AUTO SLID AND FADE IN*/

h2 {
  font-size: 2rem;
  text-align: center;
  padding-top: 2rem;
}

.gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

.gallery img {
  max-width: 450px;
}

/* Added target-thailand and un-used h6 to fix anchor target, to make heading visible without adding extra top padding */
#thailand,
#mauritius,
#sri-lanka {
  position: relative;
}

h6 {
  position: absolute;
  top: -90px;
}

.country-info {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.country-info p {
  max-width: 450px;
}

/* gallery second country  ZOOM */

.second-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem auto;
}

.second-gallery img {
  max-width: 140px;
  max-height: 140px;
  margin: 0.2rem;
}

.second-gallery img:hover {
  transition: all 600ms ease-in;
  transform: scale(1.7);
}

.mauritius {
  padding-bottom: 3rem;
}

.mauritius h2 {
  color: #fff;
}

/* third country - css grid */

.text-aside {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.grid {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  justify-content: center;
  margin: 2rem;
}

.grid-item {
  width: 100px;
  height: 100px;
}

.grid img {
  height: 100px;
  width: 100px;
}

.grid img:hover {
  transform: scale(2);
  transition: all 200ms ease-in;
}

/* Footer */

footer {
  position: relative;
  top: 6rem;
  height: 150px;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 0.2rem;
  display: flex;
  justify-content: center;
  color: #fff;
}

footer img {
  width: 25px;
  height: 25px;
  margin-right: 0.25rem;
}

footer span {
  margin: 0 0.25rem;
}

.credentials {
  display: flex;
  align-items: center;
}

/* Responsive */

@media only screen and (max-width:1400px) {
  .gallery img {
    max-width: 350px;
  }
}

@media only screen and (max-width: 1130px) {
  .text-aside {
    display: block;
  }
}

@media only screen and (max-width:1055px) {
  .gallery img {
    max-width: 250px;
  }
  .tablet {
    display: none;
  }
  .second-gallery {
    margin: 2rem 10rem;
  }
}

@media only screen and (max-width:1024px) {
  footer img {
    width: 15px;
    height: 15px;
  }
  footer {
    font-size: 0.8rem;
    letter-spacing: normal;
  }
  header {
    height: 60px;
  }
  .brand span {
    font-size: 1.5rem;
  }
  .logo img {
    width: 30px;
  }
  .nav-desktop a {
    font-size: 0.8rem;
  }
  h6 {
    top: -60px;
  }
}

@media only screen and (max-width:905px) {
  .tabletL {
    display: none;
  }
}

@media only screen and (max-width:759px) {
  .second-gallery img {
    max-width: 100px;
    max-height: 100px;
  }
  .second-gallery {
    flex-wrap: nowrap;
  }
  .extra-box {
    display: none;
  }
  .gallery img {
    max-width: 100%;
  }
  .gallery {
    padding: 2rem 0;
  }
  h2 {
    padding-top: 1.5rem;
    font-size: 1.5rem;
  }
  p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width:720px) {
  .second-gallery img {
    max-width: 140px;
    max-height: 140px;
  }
  .second-gallery {
    flex-wrap: wrap;
    margin: 2rem 5rem;
  }
  .country-info {
    padding: 1rem;
  }
  .brand span {
    animation: none;
  }
  .logo {
    width: 15%;
  }
  .brand-nav {
    width: 85%;
  }
}

@media only screen and (max-width: 633px) {
  .grid {
    grid-template-columns: 50px 50px 50px 50px 50px;
    margin: 1rem;
  }
  .grid-item,
  .grid img {
    height: 50px;
    width: 50px
  }
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: block;
    margin-right: 2.5rem;
  }
}

@media only screen and (max-width:480px) {
  header {
    height: 40px;
  }
  .brand span {
    font-size: 1rem;
  }
  .logo img {
    width: 30px;
  }
  h6 {
    top: -40px;
  }
  .jumbotron img {
    max-width: 40%;
  }
  .second-gallery {
    margin: 1rem;
  }
  .second-gallery img:hover {
    transform: scale(1.4);
  }
  h1 {
    letter-spacing: normal;
    font-size: 1rem;
  }
}
