/* universal */
html {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
*, *:before, *:after {
 box-sizing: inherit;
}

body {
  font-size: 16px;
}

main {
  position: relative;
  top: 90px;
}


/* header */

header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  background-color: grey;
  color: #fff;
  position: fixed;
  z-index: 1;
}

.brand-nav {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo animation */

.logo {
  position: relative;
  width: 25%;
  display: flex;
  justify-content: flex-end;
}

@keyframes slide {
  0% {
    left: 0%;
  }
  100% {
    left: 80%;
  }
}

.logo img {
  animation-name: slide;
  animation-duration: 800ms;
  animation-timing-function: linear;
  animation-iteration-count: 4;
  animation-delay: 0.5s;
  animation-direction: alternate-reverse;
  position: absolute;
  height: 80px;
  width: auto;
}

/*@keyframes swing {
  15% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
   -webkit-transform: translateX(2px);
   transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.logo img {
  -webkit-animation: swing 1s ease;
  animation: swing s ease;
  -webkit-animation-iteration-count: 10;
  animation-iteration-count: 10;
  }
  */

/* Brand animation */

.brand {
  position: relative;
  display: flex;
  align-items: center;
}

@keyframes rotation {
  from {
		transform: rotateY(0deg);
		}
	to {
		transform: rotateY(360deg);
		}
}
.brand span {
  position: absolute;
  animation-name: rotation;
  animation-duration: 3.2s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
  font-size: 1.5rem;
  margin-left: 1rem;
}

/* Navigation */

nav a{
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 0;
  margin: 0 1rem;
  border-top: darkGrey solid 0.5px;
}

nav a:hover {
  border-top: black solid 1.5px;
  padding-top: 0.75rem;
  color: black;
  transition: all 300ms linear;
}

/* Jumbotron */

.jumbotron {

  color: #fff;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

h1 {
  margin: 0 auto;
  font-size: 2rem;
}

/* gallery */
.fotorama {
  display: flex;
  justify-content: center;
}
